body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.tile {
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  border: 2px solid #ccc;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
}

.tile.correct {
  background-color: #6aaa64; /* green */
  color: white;
}

.tile.present {
  background-color: #c9b458; /* yellow */
  color: white;
}

.tile.absent {
  background-color: #787c7e; /* gray */
  color: white;
}

input {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}

input#guess {
  text-transform: uppercase; /* Only uppercase for the guess input */
}

input#playerName {
  text-transform: none; /* Ensure name input stays as typed */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  max-width: 400px;
  margin: 10px auto;
}

.keyboard button {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #D3D3D3;
}


.keyboard button2 {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #D3D3D3;
  grid-column: span 3;
}


.keyboard button.absent {
  background-color: #787c7e; /* Grey for absent letters */
  color: white;
}

.keyboard button.present {
  background-color: #c9b458; /* Yellow for present letters */
  color: white;
}

.keyboard button.correct {
  background-color: #4CAF50; /* Green for correct letters */
  color: white;
}
